$grey: lightgrey;
$grey-light: #fafafa;

$blue: #00529B;
$blue-light: #BDE5F8;

$green: #4F8A10;
$green-light: #DFF2BF;

$red: #D8000C;
$red-light: #FFBABA;

$yellow: #9F6000;
$yellow-light: #FEEFB3;

$orange: orange;
