@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin svg($svg-name) {
  background-image: '../assets/svg/' + $svg-name + '.svg';
}
